# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: 
*  List popular languages for Data Science
*  List commonly used libraries for Data Science 
*  Create a code cell to multiply and add numbers

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.

| Data Science Tools | 
|--------------------|
| RStudio            |
| Apache Spark       |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author:
# Yash Bedagkar